.col.s12.m6.l4
  = render partial: "recipes/card", collection: collection[1], as: :recipe
.col.s12.m6.l4
  = render partial: "recipes/card", collection: collection[2], as: :recipe
.col.s12.m6.l4
  = render partial: "recipes/card", collection: collection[3], as: :recipe
