%a.rating.tooltipped{"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "Rating"}
  %i.material-icons star
  %i.material-icons star
  %i.material-icons star_half
  %i.material-icons star_border
  %i.material-icons star_border
