.col.s12.m6.l4
  = render partial: "recipes/card", collection: @recipes_recent, as: :recipe
.col.s12.m6.l4
  = render partial: "recipes/card", collection: @recipes_rated, as: :recipe
.col.s12.m6.l4
  = render partial: "recipes/card", collection: @recipes_random, as: :recipe
