%footer.page-footer.light-blue
  .container
    .row
      .col.s12.m6
        %p.grey-text.text-lighten-4 Always find quick and easy recipes.
      .col.s12.m3
        %h6.white-text Recently Viewed
      .col.s12.m3
        %h6.white-text Recently Saved
  .footer-copyright
    .container
      © 2016 Dustin Atwood
      %a.grey-text.text-lighten-4.right{:href => "#!"}
        Send Feedback
        %i.material-icons feedback
