%nav.light-green
  .nav-wrapper
    %a.brand-logo{href: root_path}
      %i.material-icons local_pizza
      Eatables Assist
    %a.button-collapse{"data-activates" => "mobile-nav", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      = render 'layouts/nav_links'
    %ul#mobile-nav.side-nav
      = render 'layouts/nav_links'
